<!DOCTYPE html>
<html>
  <style>
    body {
      background-color: skyblue;
      font-family: verdana;
      color: white;
      padding: 30px;
      text-align: center;
    }
    h1 {
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      font-size: 16px;
    }
  </style>

  <head></head>
  <body>
    <%- include ('partials/nav.ejs') %>
    <h1>Contact Success!</h1>
    <p>Thank for getting in touch!</p>
    <p>You have contacted <%= data.who %> in the <%= data.department %> department.</p>
    <p>We will reply to you at <%= data.email %> soon.</p>
  </body>
</html>
